
.side-bar
  .top-item
    .inner
      .bar_name.samevalue
        .left-column
          UserName
        .right-column
          = link_to "#" ,class:"right-column--edit" do
            = icon('fas','edit')
          = link_to "#" , class:"right-column--cog" do
            = icon('fas','cog')
      .bar_logo.samevalue
        tech::camp
      .bar-message.samevalue
        まだメッセージがありません




  


  
